* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 1px solid red;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-side {
    display: flex;
    flex: 1;
    height: 100%;
    max-height: 500px;
    padding: 40px;
    background: darkslategrey;
    color: white;
    align-items: center;
}

.left-side > form {
    width: 100%;
}

.left-side > form > h3 {
    text-align: center;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group h4 {
    margin-bottom: 5px;
}

.input-group input {
    margin-bottom: 5px;
}

.right-side {
    display: flex;
    flex: 2;
    padding: 40px;
    height: 100%;
    max-height: 500px;
    background: rgb(178, 228, 228);
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgb(255, 255, 255);
    padding: 20px;
    transition: 200ms;
}

.box {
    height: 75px;
    width: 75px;
    color: white;
    display: flex;
}
.box-1 {
    background: crimson;
}

.box-2 {
    background: orange;
}

.box-3 {
    background: yellow;
}

.box-4 {
    background: green;
}

.box-5 {
    background: darkblue;
}

/* Classes to use in JavaScript */

/* Gap */
.gap-0 {
    gap: 0px;
}

.gap-5 {
    gap: 5px;
}

/* Flex Direction */
.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: row-reverse;
}

/* Justify Content */
.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}
